*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    font-family: $primary-font;
    line-height: 1;
    box-sizing: border-box;
    color: $title-color;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}
