.facts {
    background-color: $third-color;
    height: 270px;
    &__list {
        display: flex;
    }
    &__item {
        height: 270px;
        flex-basis: 20%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-left: 1px solid $white-color;
        &:last-child {
            border-right: 1px solid $white-color;
        }
    }
    &__number {
        font-size: 7.2rem;
        font-weight: 700;
        color: $white-color;
        padding-bottom: 29px;
    }
    &__name {
        font-size: 1.4rem;
        font-weight: 400;
        color: $white-color;
        text-transform: uppercase;
    }
}
